@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");


.navContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;

}

.sections {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 12px;
    height: 20px;

}

.sections h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    height: 20px;


}

.logo {
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    height: 64px;

}

.sections h2:hover {
    text-decoration: underline;
    cursor: pointer;
}


.Link{
    text-decoration: none;
    color: black;

}