.containerDiv {
    height: fit-content;
    background-color: rgb(18, 39, 92);
    border-radius: 0% 0% 0% 20%;
    color: white;
}


.tituloN {
    padding-top: 6rem;
    padding-left: 2rem;
    font-size: 48px;

}

.parrafoN {
    padding-left: 2rem;
    padding-top: 1rem;
    font-size: 24px;
}

.button1 {
    margin: 40px 0 3em 30px;
    width: 181px;
    height: 74px;
    font-size: 24px;
    border-radius: 30px;
    color: rgb(18, 39, 92);
    font-weight: 600;
    border: 0px;
    cursor: pointer;
}

.button1:hover {
    color: white;
    background-color: rgb(112, 147, 236);
    /* border: 2px solid rgb(18, 39, 92); */

}


.button2 {
    margin-left: 20px;
    width: 181px;
    height: 74px;
    font-size: 24px;
    border-radius: 30px;
    color: white;
    background-color: rgb(18, 39, 92);
    border: 2px solid white;
    font-weight: 600;
    cursor: pointer;
}

.button2:hover {
    background-color: white;
    background-color: rgb(112, 147, 236);

}

.quienes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    color: black;

}

.quienes h1 {
    font-size: 2.5rem;
    color: rgb(18, 39, 92);
    font-weight: 600;

}

.quienes p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: 400;
}


.honores {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 10rem;
    background-color: rgb(112, 147, 236);
    margin-top: 6.25rem;
    margin-bottom: 6.25rem;
    align-items: center;
}

.boxicon {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1rem;
    font-weight: 500;

}


.buttonFinal {
    background-color: rgb(18, 39, 92);
    color: white;
    width: 10rem;
    height: 4rem;
    border-radius: 40px;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}

.buttonFinal:hover {
    background-color: white;
    color: rgb(18, 39, 92);
    border: 2px solid rgb(18, 39, 92);
}

.center {
    display: flex;
    justify-content: center;
}

.bannerImage {
    height: 100%;
}


@media screen and (max-width: 480px) {
    .containerDiv  {
        border-radius: 0px;
    }

    .tituloN{
        font-size: 45px;
        width: 350px;
    }

    .parrafoN{
        width: 340px;
        font-size: 20px;
        
    }






}