.cointainerM {
    width: 100%;
    height: 120px;
    background-color: rgb(18, 39, 92);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.centerVertically {
    margin: auto 0;
}

.centerVertically1 {
    margin: auto 0;
}

.centerVertically12 {
    margin: auto 0;
}

.imagesContainer {
    margin-top: 1rem;
    display: flex;
    gap: 2rem;

}

@media screen and (max-width: 480px) {
    .cointainerM {
        display: flex;
        width: 100%;
        height: 100px;
    }


    .centerVertically1 p {
        font-size: 15px;
    }

    .centerVertically1 h3 {
        font-size: 16;
    }

    .centerVertically12 {
        display: none;
    }

    .centerVertically12 {
        display: none;
    }


    .cointainerM .centerVertically h3 {
        font-size: 17px;
        margin-left: 30px;
        text-align: end;

    }

    .imagesContainer img {
        width: 40px;
        height: 30px;
        gap: -5px;
    }

    .cointainerM .centerVertically .imagesContainer {
        display: flex;
        justify-content: center;
        gap: 0rem;
        margin-left: 20px;
    }


}