.sectionTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72%;
    margin: 0 auto;
    gap: 2.5em;
    margin-top: 6em;
}

.sectionTitulo h1 {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sectionTitulo p {
    font-size: 1.5rem;
    font-weight: 600;
    width: 70%;
    text-align: center;
}

.sectionDescriptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10em auto 6em;
    border: 2px solid #000000;
    border-radius: 45px;
    width: 90%;
    padding: 2em 2em 4em 0;
}

.sectionDescriptions h2 {
    font-size: 24px;
    font-weight: 400;
}

.generalDivDesc {
    width: 90%;
    margin: 3em auto;
    display: grid;
    grid-template-areas:
        "divDesc divDesc "
        "divDesc divDesc ";
    grid-template-columns: repeat(2, 1fr);
    gap: 6em;
}

.divDesc h3 {
    font-weight: 700;
    font-size: 28px;
    margin-right: 1em;
}

.divDesc p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0.5em;
    max-width: 68.75rem;
}

.divDesc span {
    display: flex;
    width: fit-content;
}

.sectionPrice {
    width: 70%;
    margin: 0 auto 4em;
}

.divPrice {
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}

.pLista {
    font-weight: 500;
    font-size: 20px;
}

.pLista span {
    text-decoration: line-through;
    color: #686868;
}

.pCuotas {
    font-weight: 700;
    font-size: 20px;
}

.pCuotas span {
    color: #fcfcfc;
}

.divPriceDesc {
    display: flex;
    align-items: center;
    gap: 2em;
}

.divDescuento {
    width: 50%;
    background-color: #7093EC;
    border-radius: 10px 100px 55px;
    height: 6em;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.divDescuento p {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.totalDescuento {
    font-weight: 600;
    font-size: 28px;
}

.divSup {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}

.btnConsultar {
    width: 14%;
    height: 2.5em;
    color: #fff;
    padding: 5px 10px;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 20px;
    border: none;
    background-color: #12275C
}

.link {
    text-decoration: none;
    color: white;
}

.btnConsultar:hover {
    border-radius: 20px;
    padding-right: 28px;
    padding-left: 8px;
}

.btnConsultar:hover:after {
    opacity: 1;
    right: 10px;
}

.btnConsultar:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 36px;
    line-height: 40px;
    top: 15%;
    right: -20px;
    transition: 0.4s;
}

.detallesEspecificos {
    margin: auto 3.5em;
    align-items: center;
}

.detallesEspecificos h2 {
    font-size: 1.8rem;

}

.detallesEspecificos p {
    margin-top: 2em;
    font-weight: 600;

}

.containerBanner {
    margin-top: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.banner {

    text-align: center;
    width: 45%;
    height: 10em;
    background-color: rgb(112, 147, 236);
    color: white;
    align-items: center;

}

.banner p {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1.3em;
}

.banner2 {
    text-align: center;
    width: 45%;
    height: 10em;
    background-color: rgb(18, 39, 92);
    color: white;
    align-items: center;

}

.banner2 p {
    margin-top: 0.5em;

}

.modalInDetalle {
    display: none;
}

.modalInActive {
    display: block;
}

@media screen and (max-width: 480px) {
    .sectionTitulo {
        width: 350px;
    }

    .sectionTitulo p {
        font-size: 22px;
        margin-top: -10px;
    }

    .sectionDescriptions {
        width: 350px;
    }

    .sectionDescriptions h2 {
        text-align: center;

    }

    .generalDivDesc {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 30px;
    }

    .detallesEspecificos h2 {
        font-size: 34px;
    }

    .banner {
        width: 210px;
    }

    .banner2 {
        width: 210px;
    }

    .banner p {
        font-size: 30px;

    }

    .banner2 p {
        font-size: 17px;
        margin-top: 22px;
    }

    .btnConsultar {
        width: 150px;
        height: 50px;

    }

}