@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.landing {
  background-image: url("./images/Landing.svg");
  background-size: cover;
}

.planes {
  background-image: url("./images/Planes.svg");
  background-size: cover;

}

.detallesPlanes {
  background-image: url("./images/PlanesDetallados.svg");
  background-size: cover;

}

/* .contacto {
  background-size: cover;
  background-image: url("./images/Contacto.svg");

} */

.bgAzul {

  background-color: rgb(18, 39, 92);
}

.bgAzul h1 {
  color: white;

}

.bgAzul h2 {
  color: white;
}