@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow-x: hidden;
}
.landing {
  background-image: url("./images/homeBg.jpg");
  background-size: cover;
}

.planes {
  background-image: url("./images/planesBg.jpg");
  background-size: cover;

}

.detallesPlanes {
  background-image: url("./images/detallesBg.jpg");
  background-size: cover;

}

.contacto {
  background-size: cover;
  background-image: url("./images/formBh.jpg");

}

.aprobado {
  background-size: cover;
  background-image: url("./images//backurlBG.jpg");
}

.bgAzul {

  background-color: rgb(18, 39, 92);
}

.bgAzul h1 {
  color: white;

}

.bgAzul h2 {
  color: white;
}